<form #f="ngForm" (ngSubmit)="submit(f)">
    <div    ngModelGroup="contact"
            #contact="ngModelGroup">
            <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input  required
                            pattern="[012]\d{6}"
                            id="firstName" 
                            ngModel
                            name="firstName"
                            #firstName="ngModel"
                            type="text" 
                            class="form-control"
                            (change)="log(firstName)">
                    <div class="alert alert-danger" 
                        *ngIf="firstName.touched && !firstName.valid" >
                        <div 
                        *ngIf="firstName.errors.required">First name is required</div>
                        <div 
                        *ngIf="firstName.errors.pattern">First name should match pattern</div>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="comment">Last name</label>
                    <input id="lastName" 
                    type="text"
                    ngModel
                    name="lastName"
                    class="form-control"
                    #lastName="ngModel"
                    (change)="log(lastName)" >
                    
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                                ngModel
                                name="isSubscribed">Subscribe
                    </label>
                </div>
    </div>
    <div class="form-group">
        <label for="contactMethod"></label>
        <select ngModel
        name="contactMethod" 
        id="contactmethod"
        class="form-control">
            <option *ngFor="let method of contactMethods "
            [ngValue]="method">{{method.name}}</option> 
            <!-- [value]="method.id" -->
            
        </select>
    </div>
    <div *ngFor="let method of contactMethods " class="radio">
        <label>
            <input ngModel type="radio" name="contactMethod" [value]="method.id">{{method.name}}
        </label>
    </div>
    <p>
        {{ f.value | json }}
    </p>
    
    <button class="btn btn-primary"
            [disabled]="!f.valid">Submit</button>
</form>